.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #488cda;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

    .btn:hover {
        background-color: #3b6ca0;
    }

.annuler-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #770f0f;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.annuler-btn:hover {
        background-color: #5a0b0b;
    }

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:  space-between;
}