<!-- description-form.component.html -->
<form (ngSubmit)="submitForm()" #descriptionForm="ngForm" class="description-form">
  <div class="section">
      <label for="capDetected">Casquette:</label>
      <input type="checkbox" id="capDetected" name="capDetected" [(ngModel)]="description.cap.detected">
      <div *ngIf="description.cap.detected" class="cap-details">
          <label for="capColor">Couleur de la casquette:</label>
          <select id="capColor" name="capColor" [(ngModel)]="description.cap.color" class="color-select">
            <option value="">Choose a color</option>
            <option *ngFor="let color of colorOptions" [ngStyle]="{ 'background-color': color.hexCode }" [value]="color.name">
              <span class="color-sample" [ngStyle]="{ 'background-color': color.hexCode }"></span>
              {{ color.name }}
            </option>
          </select>
      </div>
  </div>
  <div class="section">
    <label for="sunglassesDetected">Lunnettes de soleil</label>
    <input type="checkbox" id="sunglassesDetected" name="sunglassesDetected" [(ngModel)]="description.sunglasses.detected">
</div>
  <div class="section">
      <label for="tshirtColor">Couleur du T-shirt:</label>
      <select id="tshirtColor" name="tshirtColor" [(ngModel)]="description.t_shirt.color" class="color-select">
          <option value="">Choose a color</option>
          <option *ngFor="let color of colorOptions" [ngStyle]="{ 'background-color': color.hexCode }" [value]="color.name">{{ color.name }}</option>
      </select>
  </div>

  

  <div class="section">
      <label for="trousersColor">Couleur du Short:</label>
      <select id="trousersColor" name="trousersColor" [(ngModel)]="description.trousers.color" class="color-select">
          <option value="">Choose a color</option>
          <option *ngFor="let color of colorOptions" [ngStyle]="{ 'background-color': color.hexCode }" [value]="color.name">{{ color.name }}</option>
      </select>
  </div>

  <div class="section">
      <label for="numeroDossard">Numero de dossard:</label>
      <input type="text" id="numeroDossard" name="numeroDossard" [(ngModel)]="description.numbers.number">
  </div>

  <button type="submit" [disabled]="!descriptionForm.valid" class="submit-btn">Submit</button>

</form>
