/* description-form.component.css */
.description-form {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

.section {
    margin-bottom: 20px;
}

.section label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.cap-details {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.color-select,
input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.submit-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  .submit-btn:hover:not(:disabled) {
    background-color: #2980b9;
  }


.submit-button:disabled {
    background-color: #b63f3f;
    cursor: not-allowed;
}

.color-select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .color-sample {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    border: 1px solid #000;
    vertical-align: middle;
  }