addict
accelerate
diffusers
diffusers[torch]
fairscale
gradio
huggingface_hub
litellm
matplotlib
nltk
numpy
onnxruntime
opencv_python
pandas
Pillow
pycocotools
PyYAML
requests
safetensor
seaborn
setuptools
scipy
supervision
tensorboard
tensorflow
termcolor
timm
torch
torchvision
tqdm
transformers
wget