addict
accelerate

datetime
diffusers
diffusers[torch]
python-dotenv
fairscale
flask
gradio
huggingface_hub
litellm
matplotlib
nltk
numpy
Flask-Cors
opencv_python
pandas
pathlib
Pillow
pycocotools
PyYAML
requests
safetensors
seaborn
setuptools
scipy
scikit-learn
supervision
thread6
tensorboard

termcolor
timm
torch 
torchvision
tqdm
transformers
wget


pyjwt
Werkzeug
