/* image-dialog.component.css */

.image-container {
    position: relative;
    text-align: center;
    max-width: 100vw; /* Taille maximale égale à la largeur de la fenêtre */
    max-height: 100vh; /* Taille maximale égale à la hauteur de la fenêtre */
    overflow: hidden; /* Cache toute partie d'image qui dépasse la taille de la fenêtre */
  }
  
  img {
    max-width: 100%; /* Pour que l'image s'ajuste à la largeur maximale de la fenêtre */
    max-height: 100%; /* Pour que l'image s'ajuste à la hauteur maximale de la fenêtre */
  }
  
  .button-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .custom-button {
    background-color: #007bff; /* Couleur de fond du bouton */
    color: #ffffff; /* Couleur du texte */
    border: none; /* Suppression des bordures */
    padding: 10px 20px; /* Marge interne */
    border-radius: 4px; /* Coins arrondis */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transition au survol */
  }
  
  .custom-button:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
    
  }
  button:focus {
  outline: none;
}